<div class="w-60 px-30 py-40 mx-auto rounded--md border--10" fxLayout="row" fxLayoutAlign="space-between">
  <div class="w-25">
    <h2 class="w-80">RE-FRAMING <span class="fw-400">THE WORLD</span></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at tempus erat. Vestibulum vehicula malesuada malesuada.</p>
  </div>
  <p class="w-70 fs-20">
    PROGRAMMING, SPORTS, COMMUNITY, CREATIVITY, EDUCATION, NATURE, FOOD, FASHION, CRAFT, ANIMALS, ACTIVISM, PROGRAMMING, SPORTS, COMMUNITY, CREATIVITY, EDUCATION, NATURE, FOOD, FASHION, CRAFT, ANIMALS, ACTIVISM,
    PROGRAMMING, SPORTS, COMMUNITY, CREATIVITY, EDUCATION, NATURE, FOOD, FASHION, CRAFT, ANIMALS, ACTIVISM, PROGRAMMING, SPORTS, COMMUNITY, CREATIVITY
  </p>
</div>
