@import "../../../assets/stylesheets/_variables.scss";

.chat {
  right: 0;
  bottom: 0;
  margin-bottom: 50px;
  margin-right: 50px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.chat--container {
  width: 500px;
  right: 0;
  bottom: 0;
  margin-bottom: 120px;
  margin-right: 120px;
  border-radius: 20px;
}
