@import "../../../assets/stylesheets/_variables.scss";

.post {
    .p-inputtext {
        padding: 18px 16px !important;
        background: $secondary !important;
        border: none !important;
        border-radius: 4px !important;
        box-shadow: none !important;
    }
    .dropzone {
        border: 2px dashed $primary;
        &__container {
            background: $lightenMore !important;
            border: none;
        }
    }
}