<div class="endorsement w-100 my-30" fxLayout="column" fxLayoutGap="60">
    <div class="w-70 mx-auto" fxLayout="row" fxLayoutGap="60">
        <div class="w-50">
            <h1 class="fs-38">This is the endorsement headline</h1>
            <p class="fs-24 w-80">This is the intro text. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Aliquam at tempus erat.
                 Vestibulum vehicula malesuada malesuada. Phasellus mattis eu turpis.
            </p>
            <p class="w-80 fs-18 text-primary">Quisque blandit nunc at metus maximus, at euismod sem iaculis. Maecenas
                libero quam, vulputate ut turpis quis, malesuada placerat erat. Class aptent
                 taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                  Nullam consectetur quam nulla, at condimentum leo malesuada in. Integer vestibulum
                  sem nec augue tincidunt, tincidunt accumsan massa ornare.
            </p>
        </div>
        <div class="w-50 form">
            <div class="p-32 box--shadow-bottom" fxLayout="column" fxLayoutGap="32">
                <p class="fs-24 fw-600 m-0">300 endorsed so far. Help us get to 600!</p>
                <p-progressBar value="50"></p-progressBar>
            </div>
            <form action="" class="p-32" fxLayout="column" fxLayoutGap="32">
                <p class="fs-28 fw-600 m-0">Thank you for signing</p>
                <input id="float-input" class="fs-18" type="text" placeholder="Your Email" pInputText >
                <textarea cols="30" rows="5" class="fs-18" placeholder="This is the comment" pInputText></textarea>
                <button class="btn-primary">Support this post</button>
            </form>
            <div class="px-32 py-16 mb-10 bg-light">
                <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="16">
                    <img src="../../../assets//images//profile.png" alt="Profile picture"
                    width="40" height="40" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]"
                    class="cursor--pointer">
                </div>
                <p class="fw-600 my-14" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10">
                    <i class="pi pi-check p-4 rounded--circle border" style="font-size: 10px"></i>
                    <span class="text--black-75">100 people</span>
                    have endorsed</p>
            </div>
        </div>
    </div>
    <div class="w-60 mx-auto" fxLayout="column" fxLayoutAlign="center center">
        <div class="w-100 px-60 py-48 bg-secondary rounded">
            <h2 class="fw-500">Leave a comment</h2>
            <input type="text" class="box--shadow-bottom border--none rounded w-100 fs-20 p-16" placeholder="Write your response...">
        </div>
        <div class="w-100 bg-light py-20">
            <div class="w-100 px-60" fxLayout="row" fxLayoutAlign="space-between">
                <h2 class="fw-500">Recent responses</h2>
                <p class="text-primary cursor--pointer">See all</p>
            </div>
            <div class="w-100 px-60" fxLayout="column" fxLayoutGap="20">
                <div class="border--primary rounded bg-white" *ngFor="let response of responses">
                    <div class="p-20 box--shadow-bottom" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="start center">
                        <img src="../../../assets//images/profile.png" alt="Profile picture"
                        width="50" height="50">
                        <p class="text-primary fw-600">
                            {{response.name}}<span class="text-black fw-500">commented on</span> Home
                        </p>
                        <p>{{response.time}}</p>
                    </div>
                    <p class="p-20 m-0">{{response.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
