<div class="endorsement w-100 my-30" fxLayout="column" fxLayoutGap="60">
    <div class="w-70 mx-auto" fxLayout="row" fxLayoutGap="60">
        <div class="w-50">
            <h1 class="fs-38">This is the endorsement headline</h1>
            <p class="fs-24 w-80">This is the intro text. Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Aliquam at tempus erat.
                 Vestibulum vehicula malesuada malesuada. Phasellus mattis eu turpis.
            </p>
            <p class="w-80 fs-22 text--black-75">Quisque blandit nunc at metus maximus, at euismod sem iaculis. Maecenas
                libero quam, vulputate ut turpis quis, malesuada placerat erat. Class aptent
                 taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                  Nullam consectetur quam nulla, at condimentum leo malesuada in. Integer vestibulum
                  sem nec augue tincidunt, tincidunt accumsan massa ornare.
            </p>
        </div>
        <div class="w-50 form">
            <div class="p-32 box--shadow-bottom" fxLayout="column" fxLayoutGap="32">
                <p class="fs-24 fw-600 m-0">300 endorsed so far. Help us get to 600!</p>
                <p-progressBar value="50"></p-progressBar>
            </div>
            <form action="" class="p-32" fxLayout="column" fxLayoutGap="32">
                <p class="fs-28 fw-600 m-0">Thank you for signing</p>
                <input id="float-input" class="fs-22" type="text" placeholder="Your Email" pInputText >
                <textarea cols="30" rows="5" class="fs-22" placeholder="This is the comment" pInputText></textarea>
                <div fxLayoutGap="10">
                    <button class="btn-primary">Update endorsement</button>
                    <button class="btn-lighten-more">Remove endorsement</button>
                </div>
            </form>
            <div class="px-32 py-16 mb-10 bg-light">
                <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="16">
                    <img src="../../../assets//images//profile.png" alt="Profile picture"
                    width="40" height="40" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9]"
                    class="cursor--pointer">
                </div>
                <p class="fw-600 my-14" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10">
                    <i class="pi pi-check p-4 rounded--circle border" style="font-size: 10px"></i>
                    <span class="text--black-75">100 people</span>
                    have endorsed</p>
            </div>
        </div>
    </div>
    <div class="w-50 mx-auto" fxLayout="column" fxLayoutGap="60" fxLayoutAlign="center center">
        <div class="w-100 px-60 py-48 bg-secondary rounded">
            <h2 class="fw-500">Leave a comment</h2>
            <input type="text" class="w-100 fs-22" placeholder="Write your response..." pInputText >
        </div>
        <div class="w-100">
            <div class="w-100 px-60" fxLayout="row" fxLayoutAlign="space-between">
                <h2 class="fw-500">Recent responses</h2>
                <p class="text-primary cursor--pointer">See all</p>
            </div>
            <div class="w-100 px-60" fxLayout="column" fxLayoutGap="20">
                <div class="border--primary rounded bg-white">
                    <div class="p-20 box--shadow-bottom" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="start center">
                        <img src="../../../assets//images/profile.png" alt="Profile picture"
                        width="50" height="50">
                        <p class="text-primary fw-600">
                            Adam Smith <span class="text-black fw-500">commented on</span> Home
                        </p>
                        <p>2 minutes ago</p>
                    </div>
                    <p class="p-20 m-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget luctus
                        tellus. Duis euismod tellus arcu, vitae convallis lectus tincidunt ac. Morbi
                         eros metus, suscipit nec eros id, dictum condimentum nisi.
                    </p>
                </div>
                <div class="border--primary rounded bg-white">
                    <div class="p-20 box--shadow-bottom" fxLayout="row" fxLayoutGap="10" fxLayoutAlign="start center">
                        <img src="../../../assets//images/profile.png" alt="Profile picture"
                        width="50" height="50">
                        <p class="text-primary fw-600">
                            Adam Smith <span class="text-black fw-500">commented on</span> Home
                        </p>
                        <p>2 minutes ago</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
