<div>
    <h2>Thimphu's Insights</h2>
    <div class="w-100" fxLayout="row" fxLayoutGap="50">
        <div>
            <div>
                <p>20%</p>
            </div>
            <p>Of Overall Posts</p>
        </div>
        <div>
            <div>
                <p>70%</p>
            </div>
            <p>Engagement</p>
        </div>
        <div>
            <div>
                <p>20%</p>
            </div>
            <p>Reach</p>
        </div>
    </div>
    <button class="btn-primary">See Posts</button>
</div>