<div fxLayout fxLayoutAlign="center center" class="login-wrapper bg--primary">
  <div fxFlex="30">
    <div class="bg--white br-4 p-4 mb-16">
      <p>SIGN UP</p>
    </div>
    <div class="bg--white br-4 pt-3">
      <p-tabMenu styleClass="w-100 fs-14" [model]="items" [activeItem]="activeItem"></p-tabMenu>
      <div class="p-24 mt-8">
        <span class="p-float-label mb-28 fs-12">
          <input id="float-email" type="email" class="bg--grey" pInputText>
          <label for="float-email">Email address</label>
        </span>
        <button pButton type="button" label="Send account activation link" class="w-100 bg--primary"></button>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between" class="signin-potions p-24">
        <button fxFlex="45" pButton type="button" label="Sign up with Facebook" class="bg--primary"></button>
        <button fxFlex="45" pButton type="button" label="Sign up with Google" class="bg--primary"></button>
      </div>
    </div>
  </div>
</div>

