<div class="w-100" fxLayout="row" >
  <nav class="w-20 border--secondary">
    <div class="ms-30 py-20">
      <img src="../../assets/images/logo.svg" alt="">
    </div>
    <ul fxLayout="column">
      <li class="admin__nav p-14 w-100">Overview</li>
      <li class="admin__nav p-14 w-100">Blogs</li>
      <li class="admin__nav p-14 w-100">Endorsements</li>
      <li class="admin__nav p-14 w-100">Petitions</li>
      <li class="admin__nav p-14 w-100">Events</li>
    </ul>
  </nav>
  <div class="w-80 bg-secondary">
    <div class="w-100 bg-white py-20 px-30 box--shadow-bottom" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Admin Dashboard</h2>
      <div fxLayout="row" fxLayoutGap="14" fxLayoutAlign="start center">
        <img src="../../assets/images/profile.png" alt="profile" width="32" height="32">
        <div>
          <p class="my-0">David Blaine</p>
          <p class="text-primary my-0 fs-14">Admin</p>
        </div>
      </div>
    </div>
    <div class="px-30">
      <h1>Hi Admin</h1>
      <p class="text-primary">Welcome back to NIP dashboard</p>
    </div>
    <div class="px-30 w-100">
      <div class="w-100" fxLayout="row" fxLayoutGap="30">
        <div class="bg-white cards text--center w-25 py-16 px-30">
          <h3>Endorsement</h3>
          <p>200</p>
        </div>
        <div class="bg-white cards text--center w-25 py-16 px-30">
          <h3>Petition</h3>
          <p>100</p>
        </div>
        <div class="bg-white cards text--center w-25 py-16 px-30">
          <h3>Posts</h3>
          <p>400</p>
        </div>
        <div class="bg-white cards text--center w-25 py-16 px-30">
          <h3>Users</h3>
          <p>2000</p>
        </div>
      </div>
      <div class="w-100 my-30 bg-white">
        <div class="w-100 py-8 bg-light-blue px-20 box--shadow-bottom fw-600 text--center" fxLayout="row" fxLayoutGap="30" fxLayoutAlign="start center">
          <p class="w-100">No</p>
          <p class="w-100">Username</p>
          <p class="w-100">Profile</p>
          <p class="w-100">Date</p>
          <p class="w-100">Action</p>
        </div>
        <div class="px-20 py-4 box--shadow-bottom text--center" fxLayout="row" fxLayoutGap="30" fxLayoutAlign="start center" *ngFor="let number of [1, 2, 3, 4, 5]">
          <p class="w-100">{{number}}</p>
          <p class="w-100">David</p>
          <div class="w-100">
            <img src="../../assets/images/profile.png" alt="profile" width="40" height="40">
          </div>
          <p class="w-100">25/10/2022</p>
          <p class="w-100"><i class="pi pi-trash"></i></p>
        </div>
      </div>
    </div>
  </div>
</div>
