<nav class="nav bg-white w-100 px-48 py-20 fs-18 fw-700 box--shadow-bottom" fxLayout="row" fxLayoutAlign="space-between center">
  <ul class="m-0 p-0" fxLayout="row" fxLayoutGap="30" fxLayoutAlign="start center">
    <img src="../../../assets/images/logo.svg" class="cursor--pointer" alt="logo" width="127" height="79">
    <li class="nav__menu rounded--md py-8 px-24" *ngFor="let list of lists">{{list}}</li>
  </ul>
  <div fxLayout="row" fxLayoutGap="30" fxLayoutAlign="center center">
    <div class="cursor--pointer" fxLayout="row" fxLayoutGap="8" fxLayoutAlign="center center">
      <img src="../../../assets/images/profile.png" alt="profile" width="34" height="34">
      <p>Adam</p>
      <i class="pi pi-chevron-down" ></i>
    </div>
    <p class="cursor--pointer nav__menu rounded--md py-8 px-24">Create Post</p>
  </div>
</nav>
