$marginSizes: 0, 2, 4, 8, 10, 12, 14, 16, 18, 20, 28, 32, 34, 38, 40, 48, 56, 60, 80, 86, 100, 180;

@each $size in $marginSizes {


  .m-#{$size} {
    margin: #{$size} + 'px';
  }
  .mx-#{$size} {
    margin-right: #{$size} + 'px';
    margin-left: #{$size} + 'px';
  }
  .mx-auto {
    margin: 0 auto;
  }
  .my-#{$size} {
    margin-top: #{$size} + 'px';
    margin-bottom: #{$size} + 'px';
  }
  .ms-#{$size} {
    margin-left: #{$size} + 'px';
  }
  .me-#{$size} {
    margin-right: #{$size} + 'px';
  }
  .mt-#{$size} {
    margin-top: #{$size} + 'px';
  }
  .mb-#{$size} {
    margin-bottom: #{$size} + 'px';
  }
}
