$paddingSizes: 2, 4, 8, 10, 12, 14, 16, 18, 20, 32, 40, 48, 50, 56, 60, 80, 86, 100, 180;

@each $size in $paddingSizes {

  .p-#{$size} {
    padding: #{$size} + 'px';
  }
  .px-#{$size} {
    padding-right: #{$size} + 'px';
    padding-left: #{$size} + 'px';
  }
  .py-#{$size} {
    padding-top: #{$size} + 'px';
    padding-bottom: #{$size} + 'px';
  }
  .ps-#{$size} {
    margin-left: #{$size} + 'px';
  }
  .pe-#{$size} {
    margin-right: #{$size} + 'px';
  }
}