$primary: #6C7584;
$secondary: #D5D8DD;
$light: #FAFBFF;
$lighten: #D5D8DD;
$lightenMore: #DDE0E3;
$grey: #EAEBF6;
$dark: #303030;
$darken: #555C68;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$blue: rgb(184, 217, 236);